
/* Angular-ui bootstrap requirements */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


/* Mick's styles */

.props {
	color: green;
	font-weight: bold;
}

.partial-bg {
	background-color: #b0c4de;
}