<div class="partial-bg">
	<hr />
	<h2>Customer Controller</h2>

    <div id="myList">
        
        Enter New Customer Name:&nbsp;<input type="text" ng-model="newCustomer.name">{{newCustomer.name}}
        <br/>
        Enter New Customer City:&nbsp;<input type="text" ng-model="newCustomer.city">{{newCustomer.city}}
        <br/>
        <br/>
        <button ng-click="addCustomer()">Add Customer</button>
        <br/>
        Search by Name:&nbsp;<input type="text" ng-model="filter.name">{{filter.name}}
        <ul>
          <li ng-repeat="cust in customers | orderBy:'name' | filter:filter.name">
          {{cust.name | uppercase}} - {{cust.city | lowercase}}
          </li>
        </ul>
    </div>
    <hr />

    <p>I am an {{dbCustomer.name}}. My ID is {{dbCustomer.id}}</p>
    <div ng-repeat="stuff in dbCustomer.myStuff">Hello {{stuff}}!</div>
    <hr />

</div>
