<div class="partial-bg">
    <hr/>
    <h2>Create User</h2>
    <br/>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputFirstName">First
                name:</label>

            <div class="controls">
                <input type="text" id="inputFirstName" ng-model="user.firstName"
                       placeholder="First name"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputLastName">Last name:</label>

            <div class="controls">
                <input type="text" id="inputLastName" ng-model="user.lastName"
                       placeholder="Last name"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button ng-click="createNewUser()" style='margin:10px;'>Create New User</button>
            </div>
        </div>
    </form>
</div>
