<div class="partial-bg" data-ng-init="getUser()">
    <hr/>
    <h2>Show User</h2>
    <br/>

    <table border="1">
        <thead>
        <tr>
            <th style="min-width: 20px;">Id</th>
            <th style="min-width: 150px;">First name</th>
            <th style="min-width: 150px;">Last name</th>
            <th style="min-width: 50px;">Enabled</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td ng-model="user">{{ user.id }}</td>
            <td ng-model="user">{{ user.firstName }}</td>
            <td ng-model="user">{{ user.lastName }}</td>
            <td>
                <input type="checkbox" name="enabled" ng-model="user.enabled"
                        disabled="disabled">
            </td>
        </tr>
        </tbody>
    </table>
    <button ng-click="editUser(user.id)">Edit</button>
    <button ng-click="deleteUser(user.id)">Delete</button>
    <button ng-click="cancel()">Cancel</button>
</div>
