<div class="partial-bg">
    <hr/>
    <h2>User Controller</h2>
    Search by Name:&nbsp;
    <input type="text" ng-model="filter.name">{{filter.name}}
    <br/>
    <br/>
    <table border="1">
        <thead>
        <tr>
            <th style="min-width: 20px;">Id</th>
            <th style="min-width: 150px;">First name</th>
            <th style="min-width: 150px;">Last name</th>
            <th style="width:30px;"></th>
            <th style="width:30px;"></th>
            <th style="width:30px;"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users | filter:filter.name">
            <td>{{ user.id }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td><button ng-click="editUser(user.id)">edit</button></td>
            <td><button ng-click="deleteUser(user.id)">delete</button></td>
            <td><button ng-click="showUser(user.id)">show</button></td>
        </tr>
        </tbody>
    </table>
    <button ng-click="createNewUser()" style='margin:10px;'>create new user</button>
</div>
