<div class="partial-bg">
    <hr/>
    <h2>Edit User</h2>
    <br/>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputFirstName">First name:</label>

            <div class="controls">
                <input type="text" id="inputFirstName" ng-model="user.firstName"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputLastName">Last name:</label>

            <div class="controls">
                <input type="text" id="inputLastName" ng-model="user.lastName"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button ng-click="cancel()">Cancel</button>
                <button ng-click="updateUser()">Update User</button>
            </div>
        </div>
    </form>
</div>
