<div class="partial-bg" data-ng-init="getUser()">
    <hr/>
    <h2>Edit User</h2>
    <br/>
    <div class="error">
        {{errorMessage}}
    </div>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="inputFirstName">First name:</label>

            <div class="controls">
                <input type="text" id="inputFirstName" ng-model="user.firstName"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputLastName">Last name:</label>

            <div class="controls">
                <input type="text" id="inputLastName" ng-model="user.lastName"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputEnabled">Enabled:</label>

            <div class="controls">
                <input type="checkbox" id="inputEnabled" ng-model="user.enabled"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button ng-click="updateUser(user.id)" style='margin:10px;'>Update User</button>
                <button ng-click="cancel()" style='margin:10px;'>Cancel</button>
            </div>
        </div>
    </form>
</div>
